.jumbotron{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #88B04B;


}

html{
    background-color: #fafafa;
    font-family: "Baskerville Old Face", serif;
}

p {
    font-family: "Baskerville Old Face", serif;
}

.container-fluid{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #88B04B;

}

.radius{
    border-radius: 3%;
}
.carousel,
.item{
    height: 500px;
}
.col-md-12{
    background-color: #e3e3e3;
}

.col-md-6 {
    background-color: #f5f3f3;
}
.carousel-inner {
    height: 500px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 1920px;
    height: 500px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.itemHeight500{
    height: 500px;
}

.itemBox{
    width: 32%;
    height: 300px;
    border-radius: 3%;
    text-align: center;
    border-color: #e3e3e3;
    border-width: 1px;
    border-style: solid;
    margin: 0.5%;
    padding: 10px;
}

.itemBox p{
    color: red;
}

.itemBox img {
    width: 120px;
    height: 120px;
}

.imgStyle{
    width: 120px;
    height: 120px;
}



.marginTop20{
    margin-top: 20px;
}

.description{
    height: 90px;
}

.textWhite{
    color: white;
}

/* Background images are set within the HTML using inline CSS, not here */

