.marginTop100 {
    margin-top: 100px;
}

.jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
}

.marginLeft200 {
    margin-left: 200px;
}

html {
    font-family: fantasy, serif;
    height: 100vh;
}

p {
    font-family: 'Sanchez', 'sans-serif';
}

.privacyverklaring {
    font-family: Helvetica, serif;
    font-size: 20px;
}

.privacyverklaring h2, h1 {
    font-size: 35px;
}

.textCenter {
    text-align: center;
}

ol {
    list-style-type: lower-roman;
}

.containerMain {
    /*min-height: 800px;*/
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

noListStyleType li {
    list-style-type: none;
}

.carousel,
.item {
    height: 500px;
}

.marginLeft400 {
    margin-left: 400px;
}

.carousel-inner {
    height: 500px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    height: 500px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.itemHeight500 {
    height: 500px;
}

.itemBox {
    height: 420px;
    width: 265px;
    text-align: center;
    border-color: #e3e3e3;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}

.roundborder {
    border-radius: 25px;
}

.itemBox p {
    color: red;
}

.btn-default {
    box-shadow: none;
}

.btn-default:hover {

}

.imgStyle {
    width: 100%;
    height: 60%;

}

body {
    background-color: #FAFAFA;
}

.achtergrond {
    background-color: brown;
}

.bglg {
    background-color: #88b925;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop30 {
    margin-top: 30px;
}

.marginTop35 {
    margin-top: 35px;
}

.marginTop40 {
    margin-top: 40px;
}

.marginTop50 {
    margin-top: 50px;
}

.marginTop60 {
    margin-top: 60px;
}

.marginRight10 {
    margin-right: 10px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginBottom20 {
    margin-bottom: 10px;
}

.marginBottom30 {
    margin-bottom: 10px;
}

.marginBottom40 {
    margin-bottom: 10px;
}

.marginBottom50 {
    margin-bottom: 10px;
}

.marginBottom60 {
    margin-bottom: 10px;
}

.marginBottom70 {
    margin-bottom: 10px;
}

.marginLeft15 {
    margin-left: 15px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginLeft20 {
    margin-left: 20px;
}

.marginLeft30 {
    margin-left: 30px;
}

.marginLeft40 {
    margin-left: 40px;
}

.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingBottom20 {
    padding-bottom: 20px;
}

.paddingBottom30 {
    padding-bottom: 30px;
}

.paddingBottom40 {
    padding-bottom: 40px;
}

.paddingBottom50 {
    padding-bottom: 50px;
}

.paddingBottom5 {
    padding-bottom: 5px;
}

.paddingTop10 {
    padding-top: 10px;
}

.paddingTop20 {
    padding-top: 20px;
}

.paddingTop30 {
    padding-top: 30px;
}

.paddingTop40 {
    padding-top: 40px;
}

.paddingTop50 {
    padding-top: 50px;
}

.paddingTop5 {
    padding-top: 5px;
}

.loginBox {
    background-color: white;
    height: 300px;
    margin: 10px;
    margin-bottom: 200px;
}

.lettertype {
    font-family: 'Crete Round', serif;
}

.tekstType {
    font-family: sanchez, sans-serif;
}

.textSize11 {
    font-size: 11px;
}

.textSize12 {
    font-size: 12px;
}

.textSize13 {
    font-size: 13px;
}

.textSize14 {
    font-size: 14px;
}

.textSize15 {
    font-size: 16px;
}

.textSize20 {
    font-size: 20px;
}

.description {
    height: 90px;
    font-family: 'Sanchez', sans-serif;
}

.sanchez {
    font-family: 'Sanchez', sans-serif;
}

.crete {
    font-family: 'Crete Round', 'Glyphicons Halflings', serif;

}

.backgroundGreen {
    background-color: #88B04B;
}

.backgroundLightGreen {
    background-color: #93b749;
}

.backgroundWhite {
    background-color: #FAFAFA;
}

.backgroundDarkGrey {
    background-color: #A9A9A9;
}

.backgroundLightGrey {

    background-color: #cccccc;
}

.backgroundImageTeam {
    background-image: url("media/achtergrondteam.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.logo {
    width: 50px;
    height: 50px;
}

.logoTekst {
    margin-left: 20px;
    height: 50px;
    width: 250px;
}

.logoTekst hover {

}

footer {
    margin-top: 50px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-text {
    color: white;
}

body::after {
    position: absolute;
}

.textWhite {
    color: white;
}

.fontSize20 {
    font-size: 20px;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize11 {
    font-size: 11px;
}

.fontSize12 {
    font-size: 12px;
}

.fontSize13 {
    font-size: 13px;
}

.fontSize14 {
    font-size: 14px;
}

.fontSize15 {
    font-size: 15px;
}

.marginLeft5 {
    margin-left: 5px;
}

.brilliantWhite {
    color: #EDF1FE;
}

.imageBox {
    width: 100%;
    height: 350px;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    background-color: #1b6d85;
}

.textGreen {
    color: #88B04B;
}

.textLightGreen {
    color: #bbe85b;
}

.textGreen a {
    color: #88B04B;
}

.col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.footer {
    color: white;
    clear: both;
    text-align: center;
    /*background: #9d9d9d;*/
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    border-top: 1px solid #DDDDDD;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: #DDDDDD;
}

.textLightGray {
    color: #DDDDDD;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
}

.footer-bottom {
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #A9A9A9;
}

.textDarkGray {
    color: #333;
}

.newsButtonGray:hover {
    color: #9d9d9d;
}

.navbar-default .navbar-nav > li > a {
    color: #88B04B;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.fade {
    opacity: 1;
}

.fade:hover {
    opacity: 0.5;
}

.grow:hover {

}

.shrink:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.border:hover {
    box-shadow: inset 0 0 0 25px #53a7ea;
}

.catBar {

}

li, ol, h4, select {
    font-family: 'Sanchez', 'sans-serif';
}

h1, h2, h3, h5, h6, input, textarea {
    font-family: 'Crete Round', 'serif';
}