/*Carousel*/
.carousel,
.item {
    height: 500px;
}

.carousel-inner {
    height: 500px;
}

/* Fill toont afbeelding als een cover, cropt indien nodig. */
.fill {
    height: 500px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.resultPanel{
    height: auto;
    padding: 10px;

}

/*Margin*/
.marginTop20 {
    margin-top: 20px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop30 {
    margin-top: 30px;
}

.marginTop35 {
    margin-top: 35px;
}

.marginTop40 {
    margin-top: 40px;
}

.marginTop50 {
    margin-top: 45px;
}

.marginTop60 {
    margin-top: 60px;
}

.marginTop100 {
    margin-top: 100px;
}

.marginRight10 {
    margin-right: 10px;
}

.marginright35 {
    margin-right: 35px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginBottom20 {
    margin-bottom: 10px;
}

.marginBottom30 {
    margin-bottom: 10px;
}

.marginBottom40 {
    margin-bottom: 10px;
}

.marginBottom50 {
    margin-bottom: 10px;
}

.marginBottom60 {
    margin-bottom: 10px;
}

.marginBottom70 {
    margin-bottom: 10px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft15 {
    margin-left: 15px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginright100 {
    margin-right: 105px;
}

.marginLeft20 {
    margin-left: 20px;
}

.marginLeft30 {
    margin-left: 30px;
}

.marginLeft40 {
    margin-left: 40px;
}

.marginLeft200 {
    margin-left: 200px;
}

.marginLeft400 {
    margin-left: 400px;
}

.marginleft600 {
    margin-left: 515px;
}

/*Padding*/
.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingBottom20 {
    padding-bottom: 20px;
}

.paddingBottom30 {
    padding-bottom: 30px;
}

.paddingBottom40 {
    padding-bottom: 40px;
}

.paddingBottom50 {
    padding-bottom: 50px;
}

.paddingBottom5 {
    padding-bottom: 5px;
}

.paddingTop10 {
    padding-top: 10px;
}

.paddingTop20 {
    padding-top: 20px;
}

.paddingTop30 {
    padding-top: 30px;
}

.paddingTop40 {
    padding-top: 40px;
}

.paddingTop50 {
    padding-top: 50px;
}

.paddingTop5 {
    padding-top: 5px;
}

/*Kleur*/
body {
    background-color: #FAFAFA;
}

.newsButtonGray:hover {
    color: #9d9d9d;
}

.textLightGray {
    color: #DDDDDD;
}

.textGreen {
    color: #88B04B;
}

.textLightGreen {
    color: #bbe85b;
}

.textGreen a {
    color: #88B04B;
}

.textDarkGray {
    color: #333;
}
.backgroundGreen {
    background-color: #88B04B;
}

.backgroundLightGreen {
    background-color: #93b749;
}

.backgroundWhite {
    background-color: #FAFAFA;
}

.backgroundDarkGrey {
    background-color: #A9A9A9;
}

.backgroundLightGrey {
    background-color: #cccccc;
}

.brilliantWhite {
    color: #EDF1FE;
}

.backgroundImageTeam {
    background-image: url("../media/achtergrondteam.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
}

/*Afbeeldingen*/
.logo {
    height: 50px;
}

.logoTekst {
    height: 50px;
}

.textWhite {
    color: white;
}

.textWhite a{
    color: white;
}

.fontSize20 {
    font-size: 20px;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize11 {
    font-size: 11px;
}

.fontSize12 {
    font-size: 12px;
}

.fontSize13 {
    font-size: 13px;
}

.fontSize14 {
    font-size: 14px;
}

.fontSize15 {
    font-size: 15px;
}

.fontSize20 {
    font-size: 20px;
}

.imageBox {
    width: 100%;
    height: 350px;
    background-color: #1b6d85;
}

.col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
}

/*Navbar*/
.navbar-default .navbar-nav > li > a {
    color: #88B04B;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-text {
    color: white;
}

body::after {
    position: absolute;
}

/*Footer*/
footer {
    margin-top: 50px;
}

.footer {
    color: white;
    clear: both;
    text-align: center;
    /*background: #9d9d9d;*/
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
    border-top: 1px solid #DDDDDD;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: #DDDDDD;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
}

.footer-bottom {
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #A9A9A9;
}

.description {
    height: 90px;
    font-family: 'Sanchez', sans-serif;
}
.hidden {
    display:none;
}
/*Tekst*/
.sanchez {
    font-family: 'Sanchez', sans-serif;
}

.crete {
    font-family: 'Crete Round', 'Glyphicons Halflings', serif;

}

li, ol, h4, select {
    font-family: 'Sanchez', 'sans-serif';
}

h1, h2, h3, h5, h6, input, textarea {
    font-family: 'Crete Round', 'serif';
}

p {
    font-family: 'Sanchez', 'sans-serif';
}

.jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
}

ol {
    list-style-type: lower-roman;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.containerMinHeight{
    min-height: 1200px;
}

.noListStyleType li {
    list-style-type: none;
}

.loginBox {
    background-color: white;
    height: 300px;
    margin: 10px;
    margin-bottom: 200px;
}

.itemHeight500 {
    height: 500px;
}

.itemBox {
    width: 265px;
    text-align: center;
    border-color: #e3e3e3;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}
.resultBox {
    text-align: center;
    border-color: #e3e3e3;
    border-width: 1px;
    border-style: solid;
}
.roundborder {
    border-radius: 10px;
}

.btn-default {
    box-shadow: none;
}

.imgStyle {
    width: 100%;
    height: 60%;
}
.imagesize{
    width: 600px;
    height: 400px;
}
.carousel-caption
{
    background-color: rgba(43,39,43, .6);
}



.nav-tabs{
}

.nav-tabs a{
    color: #88B04B;
}

.nav-item:hover{
    color: #88B04B;
}

.panelStyle{
    padding: 10px;

}