*.xml
.idea/dataSources/a48b6ed0-3b8c-4840-9049-843f3dfc9ab5/_metadata_/metadata
*.xml
.idea/dataSources/e87d306c-b94e-43a7-8737-e7345f4db18e/_src_/database/iproject11/schema/dbo.zip
*.len
.idea/dataSources/e87d306c-b94e-43a7-8737-e7345f4db18e/_metadata_/metadata.values.at
.idea/dataSources/a48b6ed0-3b8c-4840-9049-843f3dfc9ab5/_metadata_/metadata_i